---
import Banner1 from "../assets/banner-1.png"
import Banner2 from "../assets/banner-2.png"
import Banner3 from "../assets/banner-3.png"
import Banner4 from "../assets/banner-4.png"
import Banner5 from "../assets/banner-5.png"
import Banner6 from "../assets/banner-6.png"
import Banner7 from "../assets/banner-7.png"
import Banner8 from "../assets/banner-8.png"
import Banner9 from "../assets/banner-9.png"
import Banner10 from "../assets/banner-10.png"

---
<section class="banner">
    <div class="banner__grid">
        <img src={Banner1.src} alt="marca-auto" class="banner__img">
        <img src={Banner2.src} alt="marca-auto" class="banner__img">
        <img src={Banner3.src} alt="marca-auto" class="banner__img">
        <img src={Banner4.src} alt="marca-auto" class="banner__img">
        <img src={Banner5.src} alt="marca-auto" class="banner__img">
        <img src={Banner6.src} alt="marca-auto" class="banner__img">
        <img src={Banner7.src} alt="marca-auto" class="banner__img">
        <img src={Banner8.src} alt="marca-auto" class="banner__img">
        <img src={Banner9.src} alt="marca-auto" class="banner__img">
        <img src={Banner10.src} alt="marca-auto" class="banner__img">
    </div>
</section>

<style>
    .banner{
        padding-block: 5rem;
        overflow: hidden;
    }
    .banner__grid{
        width: max-content;
    display: flex;
    align-items: center;
    gap: 8rem;
    animation: scroll 45s linear infinite;
        
    }
    .banner__img {
        height: 100px;
        
    }
    @keyframes scroll {
  to {
    transform: translateX(calc(-50% - 4rem));
  }
}
</style>

<script>
const banner = document.querySelector(".banner__wrapper") as HTMLElement | null;

if (banner) {
    const bannerContent = Array.from(banner.children) as HTMLElement[];

    bannerContent.forEach((item) => {
        const duplicateNode = item.cloneNode(true) as HTMLElement;
        duplicateNode.setAttribute("aria-hidden", "true");
        banner.appendChild(duplicateNode);
    });
}

</script>
